<app-dialog-frame
  [title]="isEditMode ? 'Editar Industria' : 'Nueva Industria'"
  [icon]="isEditMode ? 'edit' : 'factory'"
  initialSize="sm">

  <form [formGroup]="form" class="form-grid">

    <mat-form-field appearance="outline" class="field-full">
      <mat-label>Nombre *</mat-label>
      <input matInput formControlName="name" placeholder="Ej. Brasil" />
      @if (getFieldError('name')) {
        <mat-error>{{ getFieldError('name') }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="field-full">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description" rows="3"
        placeholder="Descripción de la Industria, procedencia..."></textarea>
      @if (getFieldError('description')) {
        <mat-error>{{ getFieldError('description') }}</mat-error>
      }
    </mat-form-field>

    <div class="field-half field-toggle">
      <span class="toggle-label">Estado</span>
      <mat-slide-toggle formControlName="active" color="primary">
        {{ form.get('active')?.value ? 'Activo' : 'Inactivo' }}
      </mat-slide-toggle>
    </div>

  </form>

  <ng-container dialog-actions>
    <button mat-stroked-button (click)="onCancel()">Cancelar</button>
    <button mat-flat-button color="primary" (click)="onSave()">
      <mat-icon>save</mat-icon>
      {{ isEditMode ? 'Guardar cambios' : 'Registrar' }}
    </button>
  </ng-container>

</app-dialog-frame>
