.top-services-card {
  border-radius: 0.75rem;
  overflow: hidden;

  .top-services-card-icon {
    color: var(--mat-sys-tertiary);
    font-size: 1.75rem;
    height: 1.75rem;
    width: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.top-services-card-content {
  padding: 0.5rem 1rem 1rem;
}
