<h2 mat-dialog-title class="modal-title">
  <mat-icon class="modal-title-icon">{{ isEditMode ? 'edit' : 'warehouse' }}</mat-icon>
  {{ isEditMode ? 'Editar Almacén' : 'Nuevo Almacén' }}
</h2>

<mat-dialog-content class="modal-content">
  <form [formGroup]="form" class="form-grid">

    <mat-form-field appearance="outline" class="field-full">
      <mat-label>Nombre del Almacén</mat-label>
      <input matInput formControlName="name" placeholder="Ej. Almacén de Lubricantes" />
      @if (getFieldError('name')) {
        <mat-error>{{ getFieldError('name') }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="field-full">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description" rows="3"
        placeholder="Ej. Área destinada al almacenamiento de aceites y lubricantes automotrices."></textarea>
      @if (getFieldError('description')) {
        <mat-error>{{ getFieldError('description') }}</mat-error>
      }
    </mat-form-field>

    <div class="field-toggle">
      <span class="toggle-label">Estado</span>
      <mat-slide-toggle formControlName="active" color="primary">
        {{ form.get('active')?.value ? 'Activo' : 'Inactivo' }}
      </mat-slide-toggle>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions class="modal-actions" align="end">
  <button mat-stroked-button (click)="onCancel()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="onSave()">
    <mat-icon>save</mat-icon>
    {{ isEditMode ? 'Guardar cambios' : 'Registrar' }}
  </button>
</mat-dialog-actions>
