<h2 mat-dialog-title class="modal-title">
  <mat-icon class="modal-title-icon">{{ isEditMode ? 'edit' : 'add_business' }}</mat-icon>
  {{ isEditMode ? 'Editar Proveedor' : 'Nuevo Proveedor' }}
</h2>

<mat-dialog-content class="modal-content">
  <form [formGroup]="form" class="form-grid">

    <mat-form-field appearance="outline" class="field-full">
      <mat-label>Nombre / Razón Social *</mat-label>
      <input matInput formControlName="name" placeholder="Ej. Importadora Automotriz del Oriente S.R.L." />
      @if (getFieldError('name')) {
        <mat-error>{{ getFieldError('name') }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="field-half">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput formControlName="email" type="email" placeholder="Ej. ventas@proveedor.com" />
      @if (getFieldError('email')) {
        <mat-error>{{ getFieldError('email') }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="field-full">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="address" placeholder="Ej. Av. Banzer Km 7.5, Santa Cruz" />
      @if (getFieldError('address')) {
        <mat-error>{{ getFieldError('address') }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="field-full">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description" rows="3"
        placeholder="Descripción del proveedor, especialidad, productos que ofrece..."></textarea>
      @if (getFieldError('description')) {
        <mat-error>{{ getFieldError('description') }}</mat-error>
      }
    </mat-form-field>

    <div class="field-half field-toggle">
      <span class="toggle-label">Estado</span>
      <mat-slide-toggle formControlName="active" color="primary">
        {{ form.get('active')?.value ? 'Activo' : 'Inactivo' }}
      </mat-slide-toggle>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions class="modal-actions" align="end">
  <button mat-stroked-button (click)="onCancel()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="onSave()">
    <mat-icon>save</mat-icon>
    {{ isEditMode ? 'Guardar cambios' : 'Registrar' }}
  </button>
</mat-dialog-actions>
