<h2 mat-dialog-title class="modal-title">
  <mat-icon class="modal-title-icon">{{ isEditMode ? 'edit' : 'add_business' }}</mat-icon>
  {{ isEditMode ? 'Editar Proveedor' : 'Nuevo Proveedor' }}
</h2>

<mat-dialog-content class="modal-content">
  <form [formGroup]="form" class="form-grid">

    <mat-form-field appearance="outline" class="field-full">
      <mat-label>Nombre / Razón Social *</mat-label>
      <input matInput formControlName="name" placeholder="Ej. Importadora Automotriz del Oriente S.R.L." />
      <mat-icon matSuffix>business</mat-icon>
      @if (getFieldError('name')) {
        <mat-error>{{ getFieldError('name') }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="field-half">
      <mat-label>Slug *</mat-label>
      <input matInput formControlName="slug" placeholder="Ej. importadora-automotriz" />
      <mat-icon matSuffix>link</mat-icon>
      @if (getFieldError('slug')) {
        <mat-error>{{ getFieldError('slug') }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="field-half">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput formControlName="email" type="email" placeholder="Ej. ventas@proveedor.com" />
      <mat-icon matSuffix>email</mat-icon>
      @if (getFieldError('email')) {
        <mat-error>{{ getFieldError('email') }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="field-full">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="address" placeholder="Ej. Av. Banzer Km 7.5, Santa Cruz" />
      <mat-icon matSuffix>location_on</mat-icon>
      @if (getFieldError('address')) {
        <mat-error>{{ getFieldError('address') }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="field-full">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description" rows="3"
        placeholder="Descripción del proveedor, especialidad, productos que ofrece..."></textarea>
      <mat-icon matSuffix>description</mat-icon>
      @if (getFieldError('description')) {
        <mat-error>{{ getFieldError('description') }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="field-half">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="state">
        <mat-option value="ACTIVE">Activo</mat-option>
        <mat-option value="INACTIVE">Inactivo</mat-option>
      </mat-select>
      <mat-icon matSuffix>toggle_on</mat-icon>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions class="modal-actions" align="end">
  <button mat-stroked-button (click)="onCancel()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="onSave()">
    <mat-icon>save</mat-icon>
    {{ isEditMode ? 'Guardar cambios' : 'Registrar' }}
  </button>
</mat-dialog-actions>
