@use './styles/variables';

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar-thumb) transparent;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
    border-radius: 3px;

    &:hover {
      background: var(--color-scrollbar-thumb-hover);
    }
  }
}
